.container {
    padding: 0 16px;
    @include tablet{
        padding:0px 32px;
    }
    @include laptop{
        padding: 0px 32px;
    }
    @include desktop-xl{
        padding: 0px 60px;
        max-width: 2560px;
        margin: 0 auto;
    } 
}