.location {
    position: relative;
    // .location__list
    &::before{
        position: absolute;
        content: '';
        inset: 0;
        z-index: 9;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
    
    & .video-bg{
        
    }
    &__list {
        position: relative;
        z-index: 999;
        
        @include laptop{
            display: flex;
            min-height: 552px;
            
        }
    }
    &__img{
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: all 1s ease-in-out;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include laptop{
            transform: translateY(-200%);
            opacity: 0;
        }
    }

    // .location__item

    &__item {
        --paddingSides: 16px;
        padding: 50px var(--paddingSides);
        min-height: 273px;
        position: relative;
        &--fragment{
            position: absolute;
            width: 100%;
            height: 16px;
            left: 0;
            bottom: 0;
            background-color: $back;
            transition: all 0.4 ease-in-out;
        }
        &::before{
            position: absolute;
            content: '';
            width: calc(100% - var(--paddingSides));
            bottom: -0.5px;
            left: 50%;
            transform: translateX(-50%);
            height: 0.5px;
            background-color: $second;
            @include laptop{
                top: 50%;
                right: 0;
                transform: rotate(90deg) translateY(-8.5px);
                width: 100%;
            }
        }
        @include laptop{
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
    }

    // .location__title

    &__title {
        font-weight: 1000;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: $back;
        margin-bottom: 16px;
        @include laptop{
            color: $second;
            margin-top: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: top left;
            transform: rotate(270deg) translate(-50%,-50%);
        }
        @include desktop-xl{
            font-size: 32px;
        }
    }

    // .location__descr

    &__descr {
        color: $second;
        @include laptop{
            opacity: 0;
        }
    }
}
