.navigation {

    // .navigation__list

    &__list {
        position: absolute;
        overflow-y: hidden;
        background-color: $main;
        color: $second;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        padding-top: 120px;
        padding-bottom: 120px;
        text-align: center;

        display: none;
        @include laptop{
            padding-top: 146px;
            padding-bottom: 146px;
        }
        @include desktop{
            gap: 8px;
            display: flex;
            align-items: center;
            position: static;
            padding: 0;
            width: unset;
            height: auto;
        }
    }

    // .navigation__item

    &__item {
        display: block;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
        @include desktop{
            display: flex;
            margin-bottom: unset;
            border: 2px solid $back;
            padding: 20px 32px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:not(.navigation__item--active){
                &:hover{
                    color: $back;
                }
            }
            &:is(.navigation__item--active){
                &:hover{
                    cursor: not-allowed;
                }
            }
            
        }
        &--active{
            color: $back;
            @include desktop{
                color: $second;
                background-color: $back;
            }
        }
    }

    // .navigation__link

    &__link {
        white-space: nowrap;
        &:hover{
            cursor: inherit;
        }
    }

    // .navigation__btn

    &__btn {
        width: 36px;
        height: 36px;
        background: url("../img/header/menu.svg") center/contain no-repeat;
        transition: all 0.5s ease-in-out;
        &--active{
            background: url("../img/header/menu--active.svg");
        }
        @include laptop{
            width: 50px;
            height: 50px;
        }
        @include desktop{
            display: none;
        }
    }
}