.navigation {

    // .navigation__list

    &__list {
        display: none;
        gap: 8px;
        @include desktop{
            display: flex;
        }
    }

    // .navigation__item

    &__item {
        color: $second;
        padding: 20px 32px;
        border: 2px solid $back;
        transition: all 0.3s ease-in-out;
        @include desktop{
            cursor: pointer;
            &:not(.navigation__item--active){
                &:hover{
                    background-color: $back;
                }
            }
            &:is(.navigation__item--active){
                &:hover{
                    cursor: not-allowed;
                }
            }
        }
        &--active{
            background-color: $back;
        }
    }

    // .navigation__link

    &__link {
        &:hover{
            cursor: inherit;
        }
    }

    // .navigation__btn

    &__btn {
        width: 36px;
        height: 36px;
        background: url("../img/header/menu.svg") center/contain no-repeat;
        transition: all 0.5s ease-in-out;
        &--active{
            background: url("../img/header/menu--active.svg");
        }
        @include laptop{
            width: 50px;
            height: 50px;
        }
        @include desktop{
            display: none;
        }
    }
}