body {
  font-family: Mulish;
  font-weight: 300;
  color: $main;
  background-color: $back;
  line-height: 1.4;
  font-size: 16px;
}
.header{
  &__logo{
    // color: $main;
    background-color: $main;
  }
}
